@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: antiquewhite;
}

.container{
    background-color: rgb(100, 92, 92);
    height: 27rem;
    width: 20rem;

    padding: 10px;

    border-radius: 5px;
    border: 0.3px solid black;
}

.display-container{
    background-color: rgb(248, 248, 248);
    height: 9rem;

    border-radius: 5px;
    border: 0.3px solid black;

    display: flex;
    flex-direction: column;
    justify-self: end;

    padding: 0px 11.2px;

    font-size: 1.5rem;
}

.last-operation-container,
.current-operation-container{
    width: 100%;
    height: 50%;

    padding: 18px 0;
}

.last-operation-container{
    /* background-color: red; */
}

.current-operation-container{
    /* background-color: green; */
}

.buttons-container{
    /* background-color: red; */
    height: 13rem;
    margin: 9px 0px;  

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.clear-btn, .back-btn{
    width: 49.2%;
}

.clear-btn{
    background-color: plum;
}

.back-btn{
    background-color: pink;
}

button{
    cursor: pointer;
    width: calc(95.5% / 4);

    padding: 10px;
    font-size: 20px;

    border: 1px solid black;
}

